.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 37px;
  color: #0ccac4;
  letter-spacing: 3px;
  margin-top: 50px;
}
.RoboCard {
  width: 85vw;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
